* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

header {
    display: flex;
    background-color: #f7f8fa;
    padding: 1rem 10rem;
    align-items: center;
}

.dropdown{
    width: 25rem;
}

.dropdown .dropdown-menu {
    max-height: 40rem;
    overflow: auto;
}

.dropdown .dropdown-menu li {
    max-height: 40rem;
}

.dropdown button {
    width: 25rem;
    text-align: left;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.dropdown button:active {
    outline: none !important;
    border: none !important;
}

.dropdown-toggle::after {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.dropdown .dropdown-item {
    width: 25rem;
}

.title {
    padding: 1rem 10rem;
    padding-top: 2rem;
    background-color: #f7f8fa;
}

.userAccount {
    display: flex;
    width: 30%;
    align-items: center;
    position: relative;
    padding-bottom: 1rem;
}

.userAvatar {
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    border-radius: 50%;
    align-items: center;
}

.userAvatar img {
    width: 4rem;
    height: 4rem;
    position: relative;
    top: -15%;
    left: -15%;
}

.userName {
    font-weight: bold;
    color: #748298;
    margin-left: 1rem;
    text-decoration: none;
}

.userName:hover {
    text-decoration: underline;
}

.repositoryInfo {
    position: relative;
    display: flex;
    width: fit-content;
    align-items: center;
    padding-top: 0.5rem;
}

.githubLogo {
    display: flex;
    align-items: center;
}

.githubLogo p {
    display: inline-block;
    font-weight: bold;
    color: #6e7583;
    margin-bottom: 0;
}

.githubLogo img {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    margin-left: 0.5rem;
}

.repoFullname a {
    color: #6e7583;
    font-weight: bold;
    margin-left: 0.7rem;
    text-decoration: none;
}

.repoFullname a:hover {
    text-decoration: underline;
}

.repoDefaultBranch {
    position: relative;
    background-color: #6e7583;
    margin-left: 1.5rem;
    padding: 0.1rem 0.5rem;
    border-radius: 5px;
    color: white;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}

.repoDefaultBranch img {
    width: 0.7rem;
    height: 0.7rem;
    display: inline-block;
    margin-right: 0.3rem;
}


.repositoryInfo::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    background-color: #e3e6ea;
    height: 1.5px;
    top: 0;
}

.content {
    padding: 1rem 10rem;
}

.forksContainer {
    margin-top: 1rem;
}

.forkItem {
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 1rem 1rem;
    box-shadow: 0px 3px 3px 1px #e9eaee;
    border-radius: 5px;
    justify-content: space-between;
    margin-bottom: 0.5rem
}

.goToCommitButton {
    cursor: pointer;
    border-radius: 5px;
    padding: 0rem 0.7rem;
    border: 1px solid #6e7583;
}

.goToCommitButton:hover {
    color: white;
    background-color: #748298;
}

.forkItem span {
    display: inline;
}

.forkItem .committer {
    display: inline-block;
    font-weight: bold;
}

.forkItem .commitDate {
    display: inline-block;
}

.forkItem .message {
    font-weight: bold;
}

.forkItem .forkUserAvatar {
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 100%;
}

.forkItem .forkRepoName {
    margin-left: 1rem;
    font-weight: bold;
}

.forkItem:hover {
    border: 1px solid #6e7583;
    box-shadow: none;
}

@keyframes scaling {

    0%,
    100% {
        transform: scale(0.2);
        background-color: #30FFB7;
    }

    40% {
        transform: scale(1);
        background-color: #07DEFF;
    }

    50% {
        transform: scale(1);
        background-color: #6e7583;
    }
}

.loading {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    top: 1rem;
}

.loading div {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    transform: scale(0);
    background-color: red;
    animation: scaling 2.5s ease-in-out infinite;
    display: inline-block;
    margin: .5rem;
}

.loading div:nth-child(0) {
    animation-delay: 0s;
}

.loading div:nth-child(1) {
    animation-delay: 0.2s;
}

.loading div:nth-child(2) {
    animation-delay: 0.4s;
}

.loading div:nth-child(3) {
    animation-delay: 0.6s;
}

.loading div:nth-child(4) {
    animation-delay: 0.8s;
}

.loading div:nth-child(5) {
    animation-delay: 1s;
}

.branchContainer {
    margin-left: 2rem;
    margin-top: 0.5rem;
}

.branchTitle {
    vertical-align: top;
    border: 1px solid white;
    cursor: pointer;
    margin-bottom: 0.7rem;
    width: fit-content;
    display: inline-block;
    background-color: white;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    box-shadow: 0px 3px 3px 1px #e9eaee;
}

.branchTitle p {
    font-weight: bold;
}

.branchTitle:hover {
    border: 1px solid #6e7583;
    box-shadow: none;
}

.commitContainer {
    display: inline-block;
    margin-left: 1rem;
}

.commit {
    border-radius: 5px;
    box-shadow: 0px 3px 3px 1px #e9eaee;
    background-color: white;
    padding: 0.5rem 0.5rem;
    margin-bottom: 0.5rem;
}

.branchTitle {
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0px 3px 3px 1px #e9eaee;
    background-color: white;
    padding: 0.5rem 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
}

.branchTitle p {
    display: inline-block;
    margin-bottom: 0;
}

.branchTitle .numberOfCommits {
    display: inline-block;
    font-weight: lighter;
    margin-left: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    color: white;
    background-color: #6e7583;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 0;
}

.branch .aheadCommits {
    display: none;
}

.show {
    display: block !important;
}