form {
    margin: 15rem;
    margin-bottom: 0;
}

form label {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#submitButton {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 2rem;
    padding-right: 2rem;
}

body {
    background-color: #f7f8fa;
}

.forksContainer {
    display: none;
    position: relative;
    margin-left: 15rem;
    margin-right: 15rem;
    background-color: inherit;
    flex: 1;
    height: 80%;
    justify-content: center;
    overflow-x: scroll;
    overflow-y: scroll;
    flex-direction: column;
    background-color: black;
}

.forkItem {
    display: block;
    width: 80%;
    padding: 0.5rem;
    background-color: #745a9b;
    border-radius: 5px;
    color: white;   
    margin-bottom: 0.75rem;
}

.forkItem a {
    color: white;
    text-decoration: none;
}

.forkItem a:hover {
    text-decoration: underline;
}