<link rel="stylesheet" href="css/home.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<form method="GET" action="/app">
  <div class="mb-3">
    <label for="githubRepositoryUrl" class="form-label">GITHUB REPOSITORY URL</label>
    <input placeholder="Link: https://github.com/example-user/example-repository" 
        name="url" type="text" class="form-control" id="githubRepositoryUrl" 
        aria-describedby="emailHelp">
  </div>
  <button type="submit" id="submitButton" class="btn btn-primary">Submit</button>
</form>
<div class="forksContainer">
</div>

{{!-- <script>
    var submitButton = document.querySelector('#submitButton');
    submitButton.addEventListener('click', () => {
        var url = document.querySelector('#githubRepositoryUrl').value;
        var request = new XMLHttpRequest();
        request.open('POST', 'api/run', true);
        request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
        request.onload = function() {
            if (this.status >= 200 && this.status < 400) {
                // Success!
                var data = JSON.parse(this.response);
                console.log(data);
                parseForksData(data);
            }
        };
        request.send(`url=${url}`);
    });

    function parseForksData(forksArray) {
        var forksContainer = document.querySelector('.forksContainer');
        for (var item of forksArray) {
            let forkItem = document.createElement('div');
            forkItem.classList.add('forkItem');
            forkItem.innerHTML = `<a href="${item.url}" class="repoName">${item.full_name}</a>`;
            forksContainer.appendChild(forkItem);
        }
    }
</script> --}}